<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <div class="content">
        <h1 style="color:#fcf69f">Congratulation!!</h1>
        <p>Your Favourit Order is On the Way...</p>
        <a href="/shop"><button class="btn btn-outline-warning" type="submit">Continue...</button></a>
        </div>  
    <canvas id="Canvas"></canvas>
   
    <script src="/JS/Order.js"></script>
</body>

</html>