<%-include('../INCLUDES/header.ejs') %>
    <link rel="stylesheet" href="/CSS/OrderPage.css">
</head>
<body>
<div class="card-container">
    <div class="card-wrapper">
      <div class="slider2">
        <div class="user-img">
            <img src="/IMAGES/admin.png">
        </div>
        <div class="description">
            <p>
                price || quantity
            </p>
        </div>
    </div>
      <div class="wave wave-one"></div>
      <div class="wave wave-two"></div>
      <div class="wave wave-three"></div>
      
    </div> 
  </div> 
  </html>
</body>

     
  
     <!-- <a href="http://bit.ly/OnlineTutorialsByDeep_PayPal" target="_blank">
       <img src="https://1.bp.blogspot.com/-zBWVzCc8UVc/XYxPSmy9tBI/AAAAAAAAAS8/Qt9eSWyJqqwoFBfqHIFxSQQblgw9r_sQQCLcBGAsYHQ/s1600/paypal_button.png" alt="">
     </a> -->

</div> 