<%- include('../INCLUDES/header.ejs') %>
<link rel="stylesheet" href="/CSS/LogoutPage.css">
</head>
<body>
<%- include('../INCLUDES/userNav.ejs') %>
<h1>Logout</h1>
<a style="width: 10%;height: 2.5rem;" class="btn btn-outline-danger text-center ml-3" style="margin-top:1rem;" href="/logout">Logout</a>
</body>
</html>